<div class="card" *ngIf="isAuth">
    <div class="flip-card" *ngIf="auth.user$ | async as user ">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="profile-image">
            <img [src]="user.picture" alt="">
            <div class="name">
                {{user.nickname}}
            </div>
            </div>
        </div>
        <div class="flip-card-back">
            <div class="Description">
            <p class="description">
                Nombre: {{user.given_name}}
                <br><br>
                Apellido: {{user.family_name}}
                <br><br>
                Correo: {{user.email}}
            </p>
            </div>
        </div>
        </div>
    </div>
</div> 

<div class="bg" *ngIf="!isAuth">
    <div class="welcome-text">
      <h1>Bienvenido</h1>
      <p>Administrador de Ingresos y Gastos</p>
      <a href="#" class="button" (click)="login()" >Iniciar Seción</a>
    </div>
  </div>

  
