.web_body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.button-mode-background{
    position: fixed;
    right: 10px;
    bottom: 500px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
}