#container-grafica{
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

#grafica{
    border-color: black;
    border-style: solid;
    height: 300px;
    width: 600px;
}

#boton-ingresar-reporte{
    margin-top: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: center ;
}

.custom-table {
    width: 80%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 0;
    border-style: solid;
    border-color: black;
}

.custom-table th, .custom-table td {
    border: none;
    padding: 20px;
}

.custom-table tr:hover {
    background-color: #f8f9fa;
}

.consultar-cell {
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: 500;
    transition: background-color 0.3s;
}

.consultar-cell:hover {
    background-color: gray;
}